@model trs.Models.HActivitiesModel
@{
    ViewData["Title"] = "Today activities";
}

<form>
  <label>Please enter today date: </label>
  <input type="date" asp-for="date" value="@Model?.date"></input>
  <button type="submit" class="btn btn-primary" asp-controller="Home" asp-action="Activities">Change Day</button>
</form>

<div class="text-center">
    <h1 class="display-3">Today activities</h1>
</div>

<div>
  Total time spent on activities today: @Model?.totalTime
</div>

<table class="table">
  <tr>
    <th>
      @Html.DisplayName("Project Name")
    </th>
    <th>
      @Html.DisplayName("Code")
    </th>
    <th>
      @Html.DisplayName("Time")
    </th>
    <th>
      @Html.DisplayName("Description")
    </th>
    <th></th>
  </tr>
@for (int i=0; i<Model?.entries?.Count(); i++)
{
  <tr>
    <td>
      @Html.DisplayFor(modelItem=>Model.entries.ElementAt(i).projectName)
    </td>
    <td>
      @Html.DisplayFor(modelItem=>Model.entries.ElementAt(i).code)
    </td>
    <td>
      @Html.DisplayFor(modelItem=>Model.entries.ElementAt(i).time)
    </td>
    <td>
      @Html.DisplayFor(modelItem=>Model.entries.ElementAt(i).description)
    </td>
    <td>
      <a asp-controller="Home" asp-action="Activities" asp-route-id="@i">Edit</a>
      <a asp-controller="Home" asp-action="DeleteEntry" asp-route-id="@i">Delete</a>
      <a asp-controller="Home" asp-action="Activities" asp-route-id="@i">Details</a>
    </td>
  </tr>
}
</table>

<a class="btn btn-primary" asp-controller="Entry" asp-action="Index">Add Entry</a>